$black: #0a0716;
$white: #ffffff;
$gray: #e6e6e6;
$sun: #fa163f;
$cloud: #e4f9ff;
$rain: #12cad6;
$snow: #e4f9ff;

img[lazy='loaded'] {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: scrollIn;
}
@keyframes scrollIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.center-text {
  text-align: center;
}