$black: #0a0716;
$white: #ffffff;

img[lazy='loaded'] {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: scrollIn;
}
@keyframes scrollIn {
  from { opacity: 0; }
  to { opacity: 1; }
}